* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}

body {
  background: #1E252B;
}

.container {
  width: 100%;
  max-width: 1294px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header .header__inline {
  display: inline;
  display: flex;
  align-items: center;
}
.header .header__inline .logo {
  width: 90px;
  height: 33px;
  left: 158px;
  top: 34px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.9);
}
.header .header__inline .icon {
  width: 38px;
  margin: 31px 12px 31px 0;
}
.header .header__inline .nav {
  margin: 0 auto;
}
.header .header__inline .nav .nav__link {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
  margin: 0 0 0 40px;
}
.header .header__inline .nav .nav__link:first-child {
  margin: 0;
}
.header .header__inline .login {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.78);
  opacity: 0.78;
  margin: 0 41px 0 0;
}
.header .header__inline .button {
  font-family: "Poppins";
  display: flex;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FDF5FF;
  width: 118px;
  height: 48px;
  background: #FF6E30;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
}

.intro {
  height: 700px;
}
.intro .content {
  display: block;
  display: inline;
}
.intro .text__hello {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 50px;
  line-height: 140%;
  color: rgba(255, 255, 255, 0.9);
  width: 600px;
  height: 140px;
  margin: 80px 0 30px 0;
}
.intro .text__down {
  width: 487px;
  height: 60px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  margin: 0 0 60px 0;
}
.intro .input__element {
  width: 497.66px;
  height: 64px;
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1019607843);
  display: flex;
  align-items: center;
}
.intro .input__element .icon__find {
  width: 25px;
  height: 24px;
  margin: 0 18px 0 21px;
}
.intro .input__element .input {
  background: none;
  border-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 290px;
  height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.intro .input__element .button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 130.43px;
  height: 48px;
  background: #FF6E30;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 11px 0 11px;
}
.intro .svg {
  width: 689px;
  height: 892px;
  position: absolute;
  top: 0;
  right: 0;
}
.intro .links {
  margin: 110px 0 0 0;
}
.intro .links .link {
  width: 58px;
  height: 58px;
  margin: 0 8px 0 0;
}

.tools {
  margin: 200px;
  background: #1E252B;
  width: 100wh;
}
.tools .popular__tools .button {
  background: #1E252B;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 30px;
  color: #FF6E30;
  margin: 0 auto;
  width: 184px;
  height: 64px;
}
.tools .popular__tools .name .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 25px 0;
}
.tools .popular__tools .name .foreword {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  width: 427px;
  margin: 0 auto 90px auto;
}
.tools .popular__tools .box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.tools .popular__tools .box .box__tools {
  width: 392px;
  height: 294px;
  left: 108px;
  top: 1157px;
  background: #1E252B;
  border-radius: 15px;
}
.tools .popular__tools .box .box__tools:nth-child(1), .tools .popular__tools .box .box__tools:nth-child(4) {
  margin: 0 0 100px 0;
}
.tools .popular__tools .box .box__tools .main {
  width: 170px;
  height: 66px;
  margin: 33px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.tools .popular__tools .box .svg {
  width: 64px;
  height: 64px;
  margin: 0 30px 0 0;
}
.tools .popular__tools .box .name {
  font-family: "Poppins";
  font-style: normal;
  width: 300px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}
.tools .popular__tools .box .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}
.tools .popular__tools .box .description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  width: 326px;
  height: 60px;
  margin: 0 auto;
}
.tools .popular__tools .box .icon__collection {
  display: flex;
  align-items: center;
  margin: 30px 0 0 0;
}
.tools .popular__tools .box .icon__collection .icon {
  width: 42px;
  height: 42px;
  margin: 0 159px 0 0;
}
.tools .popular__tools .box .icon__collection .icon:first-child {
  margin: 0 12px 0 33px;
}
.tools .popular__tools .box .icon__collection .visit {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}

.companies .box {
  width: 1224px;
  height: 253px;
  background: rgba(44, 53, 61, 0.2);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.companies .box .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.8);
  margin: 55px 0;
}
.companies .box .svg {
  margin: 0 auto;
}

.new__tools {
  margin: 220px 0 0 0;
}
.new__tools .engine {
  display: flex;
}
.new__tools .engine .newcomer .tool {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  color: rgba(255, 255, 255, 0.9);
  margin: 0 0 30px 0;
}
.new__tools .engine .newcomer .description__tool {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  width: 427px;
  height: 90px;
  color: rgba(255, 255, 255, 0.55);
  margin: 0 0 60px 0;
}
.new__tools .engine .newcomer .button {
  width: 198px;
  height: 58px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #FF6E30;
  border-radius: 8px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #FFFFFF;
}
.new__tools .engine .tool__bar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.new__tools .engine .tool__bar .box {
  width: 288px;
  height: 284px;
  background: #1E252B;
  border-radius: 15px;
}
.new__tools .engine .tool__bar .box .main {
  width: 170px;
  height: 66px;
  margin: 33px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
.new__tools .engine .tool__bar .box .main .svg {
  width: 64px;
  height: 64px;
  margin: 0 30px 0 0;
}
.new__tools .engine .tool__bar .box .main .name {
  font-family: "Poppins";
  font-style: normal;
  width: 300px;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
  color: rgba(255, 255, 255, 0.78);
}
.new__tools .engine .tool__bar .box .main .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}
.new__tools .engine .tool__bar .box .description {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: rgba(255, 255, 255, 0.55);
  width: 245px;
  height: 60px;
  margin: 0 auto;
}
.new__tools .engine .tool__bar .box .icon__collection {
  display: flex;
  align-items: center;
  margin: 30px 0 0 0;
}
.new__tools .engine .tool__bar .box .icon__collection .icon {
  width: 42px;
  height: 42px;
  margin: 0 43px 0 0;
}
.new__tools .engine .tool__bar .box .icon__collection .icon:first-child {
  margin: 0 12px 0 33px;
}
.new__tools .engine .tool__bar .box .icon__collection .visit {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.55);
}

.quote {
  margin: 200px 0 100px 0;
}
.quote .box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.quote .box .arrow {
  height: 100px;
  width: 80px;
}
.quote .box .person {
  width: 412px;
  height: 492px;
}
.quote .box .text {
  width: 393px;
  height: 180px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 0.015em;
  color: rgba(255, 255, 255, 0.78);
}

.transition {
  display: flex;
  justify-content: space-around;
  margin: 0 0 250px 0;
}
.transition .bar {
  width: 168px;
  height: 8px;
}

.contributor {
  margin: 0 0 240px 0;
}
.contributor .join {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contributor .join .text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 130%;
  text-align: center;
  color: rgba(255, 255, 255, 0.9);
}
.contributor .join .join__text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: rgba(255, 255, 255, 0.55);
  width: 427px;
  margin: 25px 0 100px 0;
}
.contributor .join .input__element {
  width: 549px;
  height: 64px;
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
  border: 1.5px solid rgba(255, 255, 255, 0.1019607843);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contributor .join .input {
  background: none;
  border-style: none;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  width: 360px;
  height: 21px;
  color: rgba(255, 255, 255, 0.38);
}
.contributor .join .button {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  width: 130.43px;
  height: 48px;
  background: #FF6E30;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.line {
  width: 100wh;
  height: 0px;
  border: 0.5px solid rgba(255, 255, 255, 0.15);
}

.footer {
  margin: 70px 0 100px 0;
}
.footer .footer__all {
  display: flex;
  justify-content: space-between;
}
.footer .footer__all .name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin: 0 0 20px 0;
  color: rgba(255, 255, 255, 0.9);
}
.footer .footer__all .text {
  width: 260px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  margin: 0 0 10px 0;
  font-size: 14px;
  line-height: 25px;
  color: rgba(255, 255, 255, 0.55);
}
.footer .footer__all .block .box {
  margin: 0 0 25px 0;
  display: flex;
}
.footer .footer__all .block .box .icon {
  width: 38px;
  height: 38px;
  margin: 0 12px 0 0;
}
.footer .footer__all .block .box .logo {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: rgba(255, 255, 255, 0.9);
}/*# sourceMappingURL=style.css.map */